/* 1.A Colors */
$color-primary: #4ab;
$color-alt: #DC8712;

$color-link: $color-alt;

$color-dark: #212121;
$color-light: #aaa;
$color-white: #fff;

$color-green: #1a4;
$color-red: #AA252B;
$color-blue: #4ab;
$color-yellow: #fae17b;



/* 1.B Screen sizes */
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;